body {
  margin: 0;
  text-align: center;
  font-family: 'Cormorant Garamond', cursive;
  color: #5f6769;

}

.top-container {
  background-color: #d2fafb;
  position: relative;
  padding-top: 100px;
  font-family:brush script mt, cursive;
  font-size: 30px;

}


.top-cloud
{
  position: absolute;
  right:300px;
  top:50px;
}

h1{
  color: #00a8cc;
  font-size: 5rem;
  margin-top: 50px;
font-family: 'Niconne', cursive;
  margin-bottom: 0;
}

.spatiu
{
  height: 100px;
}


.programmer
{
  margin: 0;
}

.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}


h2
{
  color: #00a8cc;
font-family: 'Niconne', cursive;
  font-size: 3rem;
  margin-top: 0;

}

h3
{
  color: #00a8cc;
  font-size: 2rem;
  font-family: 'Jacques Francois Shadow', cursive;


}


.music
{
  border-radius: 30px;
  height: 200px;
  float: right;
  margin-left: 30px;
}




.web-img
{

  border-radius: 30px;
  height: 200px;
  float: left;
  margin-right: 30px;
}


.horse-img
{
  border-radius: 30px;
  height: 200px;
  float: left;
  margin-right: 30px;


}

a:link, a:visited
{
  color: black;

}

.icons
{
  font-family: 'Cormorant Garamond', cursive;
}

.paragraph-size
{
  font-size: 2rem;
  padding-bottom: 100px;
  font-family: 'Indie Flower', cursive;
}



.HELLO
{
  margin-top: 30px;
font-family: 'Bungee Shade', cursive;
  font-size: 5rem;
}

.skill-row
{
  width: 50%;
  margin: auto;
  text-align: left;



}

.paragraph-size1
{

  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  padding-bottom: 100px;
}


.profile
{
  text-align: center;
width: 40%;
margin: auto;

}


hr
{
  border-top: 8px dotted silver;
  width: 5%;
}

.contact-me
{
  margin-top: 100px;
}

.myskills
{
  margin-top: 100px;
}

.paragraph-size3
{
  font-size: 2rem;
  padding-bottom: 100px;
  font-family: 'Indie Flower', cursive;
  width: 50%;
  margin: auto;

}


.btn {
	box-shadow: 0 0 0 -50px #00a8cc;
	background-color:#00a8cc;
	border-radius:22px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	  font-family: 'Indie Flower', cursive;
	font-size:21px;
	font-weight:bold;
	padding:14px 31px;
	text-decoration:none;
	text-shadow:-4px 2px 2px #00c7f2;
}
.btn:hover {
	background-color:#00c7f2;
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-container
{
  padding-top: 50px;
  margin-top: 100px;
  margin-bottom: 0;
  background-color: #00c7f2;

}

.end
{
  margin-bottom: 0;
  color: white;
  padding-bottom: 50px;

  }

  .footer-link:active
  {
    padding-right: 50px;
    text-decoration: none;
    padding-bottom: 100px;
    color: #0c7b93;
  }

.footer-link:link
{
  padding-right: 50px;
  text-decoration: none;
  padding-bottom: 100px;
  color: #0c7b93;
}

.footer-link:visited
{
  padding-right: 50px;
  text-decoration: none;
  padding-bottom: 100px;
  color: #0c7b93;
}

.icons
{
  padding-top: 50px;
  color: #00a8cc;

}

.links
{
  color:#00a8cc;
}
.links:visited
{
  color:#00a8cc;
}

.links:hover
{
  color:#00a8cc;
}

.links:active
{
  color:#00a8cc;
}

.links:link
{
  color:#00a8cc;
}
